# Demographic Data Analyzer

In [1]:
import numpy as np
import pandas as pd

### Use pandas to read the csv data

In [2]:
df = pd.read_csv('adult.data.csv')

### A quick look at the pandas dataframe table

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### Amount of races

In [5]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### Average age of men

In [8]:
average_age_men = round(df.loc[df['sex'] == 'Male', 'age'].mean(), 1)

print('Average age of men in dataset: {}'.format(average_age_men))

Average age of men in dataset: 39.4

### Percentage of people who have a Bachelor's degree

In [10]:
percentage_bachelors = round((df.loc[df['education'] == 'Bachelors'].shape[0] / df['education'].shape[0]) * 100, 1)

print('Percentage of bachelors in dataset: {}'.format(percentage_bachelors))

Percentage of bachelors in dataset: 16.4

### Amount of people with advanced education & people without advanced education

In [11]:
higher_education = (df.loc[df['education'].isin(['Bachelors','Masters','Doctorate'])].shape[0])
lower_education = (df[~df['education'].isin(['Bachelors','Masters','Doctorate'])].shape[0]) 

print('Amount of people with advanced education: {}'.format(higher_education))
print('Amount of people without advanced education: {}'.format(lower_education))

Amount of people with advanced education: 7491
Amount of people without advanced education: 25070

### Percentage of people with advanced education earning more than 50K

In [12]:
higher_education_rich = round((df.loc[(df['salary'] == '>50K') & (df['education'].isin(['Bachelors','Masters','Doctorate']))]
                                .shape[0] / higher_education) * 100, 1)

print('Percentage of people with advanced education earning >50K: {}'.format(higher_education_rich))

Percentage of people with advanced education earning >50K: 46.5

### Percentage of people without advanced education earning more than 50K

In [19]:
lower_education_rich = round((df.loc[(df['salary'] == '>50K') & (~df['education'].isin(['Bachelors','Masters','Doctorate']))]
                              .shape[0] / lower_education) * 100, 1)

print('Percentage of people without advanced education earning >50K: {}'.format(lower_education_rich))

Percentage of people without advanced education earning >50K: 17.4

### Minimum number of hours a person works per week

In [20]:
min_work_hours = df['hours-per-week'].min()

print('Minimum number of hours a person works per week: {}'.format(min_work_hours))

Minimum number of hours a person works per week: 1

### Amount of people who work minimun number of hours per week

In [23]:
num_min_workers = df.loc[df['hours-per-week'] .min()].shape[0]

print('Amount of people who work minimum number of hours per week: {}'.format(num_min_workers))

Amount of people who work minimum number of hours per week: 15

### Amount of people who work minimum number of hours per week earning more than 50K

In [25]:
rich_percentage = round((df.loc[(df['salary'] == '>50K') & (df['hours-per-week'] == min_work_hours)].shape[0] / num_min_workers) 
                        * 100, 1)

print('Amount of people who work minimum number of hours per week earning >50K: {}'.format(rich_percentage))

Amount of people who work minimum number of hours per week earning >50K: 13.3

### Country that has the highest percentage of people earning more than 50K

In [26]:
highest_earning_country = ((df.loc[df['salary'] == '>50K', 'native-country'].value_counts() / df['native-country']
                            .value_counts()) * 100).idxmax()

print('Country that has the highest percentage of people earning >50K: {}'.format(highest_earning_country))

Country that has the highest percentage of people earning >50K: Iran

### Percentage of people earning more than 50K in Iran

In [27]:
highest_earning_country_percentage = round(((df.loc[df['salary'] == '>50K', 'native-country'].value_counts() 
                                             / df['native-country'].value_counts()) * 100).max(), 1)

print('Percentage of people earning >50K in Iran: {}'.format(highest_earning_country_percentage))

Percentage of people earning >50K in Iran: 41.9

### The most popular occupation for those who earn more than 50K in India

In [30]:
top_IN_occupation = df['occupation'][(df['native-country'] == 'India') & (df['salary'] == '>50K')].value_counts().head(1).idxmax()

print('The most popular occupation for those who earn >50K in India: {}'.format(top_IN_occupation))

The most popular occupation for those who earn >50K in India: Prof-specialty